In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# Mengirim permintaan HTTP GET ke URL IMDb
url = "https://www.imdb.com/chart/toptv"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [4]:
# Menemukan elemen-elemen yang mengandung informasi film
titles = soup.find_all("td", class_="titleColumn")
ratings = soup.find_all("td", class_="ratingColumn imdbRating")

In [5]:
# Melakukan scraping judul, tahun, dan rating film
data = []
for title, rating in zip(titles, ratings):
    film_title = title.a.text
    film_year = title.span.text.strip("()")
    film_rating = rating.strong.text
    data.append([film_title, film_year, film_rating])

In [6]:
# Membuat dataframe dengan data yang di-scrape
df = pd.DataFrame(data, columns=["Judul", "Tahun", "Rating"])

In [9]:
df

                Judul Tahun Rating
0     Planet Earth II  2016    9.4
1        Breaking Bad  2008    9.4
2        Planet Earth  2006    9.4
3    Band of Brothers  2001    9.4
4           Chernobyl  2019    9.3
..                ...   ...    ...
245         Southland  2009    8.4
246       Foyle's War  2002    8.4
247       Kardes Payi  2014    8.4
248   Big Little Lies  2017    8.4
249         The Knick  2014    8.4

[250 rows x 3 columns]

In [10]:
# Menyimpan dataframe ke dalam file Excel
output_file = "imdb_top_tv.xlsx"
df.to_excel(output_file, index=False)
print(f"Data berhasil disimpan dalam file {output_file}")

Data berhasil disimpan dalam file imdb_top_tv.xlsx